* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  background-color: rgb(232, 232, 232);
  height: 100vh;
  padding: 20px;
}

.col {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
p {
  font-size: 18px;
  margin: 5px;
}
input {
  margin: 10px 0;
  padding: 10px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: none;
  border-radius: 4px;
}
input:focus {
  border: none;
  outline: none;
}
button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #c7d8ff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
button:hover {
  background-color: #a6c1ff;
}
#chat-box {
  flex: 2;
  padding: 10px 20px;
  box-sizing: border-box;
  height: 700px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.two {
  text-align: right;
  align-self: flex-end;
}

.message {
  background-color: #82a9ff;
  padding: 10px;
  margin: 10px;
  max-width: 50%;
  border-radius: 5px;
  font-size: 18px;
  word-wrap: break-word;
}

.one {
  text-align: left;
  align-self: flex-start;
}
.user-text {
  color: rgb(59, 59, 59);
  font-size: 16px;
}
